*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

body {
  overflow: hidden;
}

header {
  height: 8vh;
  width: 100%;
  padding: 0 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #eee;
}

header .actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

header button {
  background: transparent;
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  outline: none;
  border: none;
}

header .run {
  border: 1px solid black;
  margin-right: 1rem;
}

header .examples:hover,
header .share:hover {
  background: #ebebeb;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

header .github {
  display: flex;
  justify-content: right;
}

header .github img {
  height: 1.8rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background 200ms ease;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#overlay.showing {
  display: flex;
  animation: show;
}

#overlay .content {
  width: 40vw;
  height: 60vh;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  padding: 2rem;
  min-width: 35rem;
}

#overlay h1 {
  margin: 0;
  padding: 0;
}

#overlay ul {
  margin: 0;
  margin-top: 1rem;
  padding-left: 1.25rem;
}

#overlay li {
  padding: 0.5rem 0;
  font-size: 1rem;
}

#editor {
  max-width: 100vw;
  grid-area: editor;
  height: 57vh;
}

.terminal {
  grid-area: terminal;
  height: 35vh;
  max-width: 100%;
}

.terminal .xterm {
  padding: 1rem 1rem;
}

header img.white {
  display: none;
}

header img.black {
  display: block;
}

body.dark {
  header {
    background: #1a1a1a;
    color: #fff;
    border-bottom: 1px solid #444;
  }

  header .actions button {
    color: #fff;
  }

  header .run {
    border-color: #aaa;
  }

  header .examples:hover,
  header .share:hover {
    background: #333;
  }

  header img.black {
    display: none;
  }

  header img.white {
    display: block;
  }

  #editor {
    background: #222;
  }

  .terminal .xterm {
    // ::-webkit-scrollbar {
    //   background: #222;
    // }

    ::-webkit-scrollbar-button {
      background: #ccc;
    }

    ::-webkit-scrollbar-thumb {
      background: "blue";
    }
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  #overlay .content {
    background: #222;
    border-color: #333;
    color: #fbfbfb;
  }
}
